<a href="https://colab.research.google.com/github/lyricabdulrasheed/Lab-Workeet-Week-One-/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Problem 1***

In [ ]:
print('Hello world')
# This is a comment and won't be executed

Hello world

***Problem 2***

In [ ]:

# Input two variables
a = input("Enter the value of the first interval (a): ")
b = input("Enter the value of the first interval (b): ")

# Display the orginal values
print(f"Original values: a = {a}, b = {b}")

# Swap the values using a temporary variable
temp = a
a = b
b = temp

# Display the swapped values
print(f"Swapped values: a = {a}, b = {b}")

Enter the value of the first interval (a): 2
Enter the value of the first interval (b): 3
Original values: a = 2, b = 3
Swapped values: a = 3, b = 2

***Problem 3***

In [ ]:
# Addition
num1 = float(input("Enter the first number for addition: "))
num2 = float(input("Enter the second number for addition: "))
sum_result = num1 + num2
print(f"sum:{num1}+{num2}={sum_result}")

#Division
num3 = float(input("Enter the dividend for division: "))
num4 = float(input("Enter the divisor for division: "))
if num4==0:
  print("Error: Division by zero is not allowed.")
else:
    div_result = num3/num4
    print(f"Division: {num3}/{num4}={div_result}")

sum:1.0+2.0=3.0

***Problem 4***

In [ ]:
# Input distance in kilometers
kilometers = float(input("Enter distance in kilometers: "))

# Conversion factor: 1 kilometer = 0.621371 miles
conversion_factor = 0.621371

# Convert kilometers to miles
miles = kilometers * conversion_factor

# Display the result
print(f"{kilometers} kilometers is equal to {miles} miles")

Enter distance in kilometers: 6
6.0 kilometers is equal to 3.7282260000000003 miles

***Problem 5***

In [ ]:
# Importing the NumPy library for numerical operations
import numpy as np

# Import Matplotlib for plotting
import matplotlib.pyplot as plt

# Importing pandas for data handling
import pandas as pd

print("Libraries imported successfully!")

Libraries imported successfully!

***Problem 6***

In [ ]:
# Importing the calendar module
import calendar

# Input year and month from the user
year = int(input("Enter year: "))
month = int(input("Enter month: "))

# Get the calendar for the specified month and year
cal = calendar.month(year, month)

# Print the calendar
print(cal)

Enter year: 2003
Enter month: 12
   December 2003
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31